---
http_interactions:
- request:
    method: post
    uri: https://sandboxadmin.citruspay.com/api/v2/txn/refund
    body:
      encoding: UTF-8
      string: '{"merchantTxnId":"RD-2845351843","pgTxnId":"7468164562272201","rrn":"722051430779","authIdCode":"999999","currencyCode":"INR","amount":6,"txnType":"Refund","merchantTxnId":"..."}'
    headers:
      Content-Type:
      - application/json
      Signature:
      - 5a25f3ca655c8781b411122003be24abe02685e9
      Access-Key:
      - 1DYQI8S5EE5UM97AJYKA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"respCode":"121","respMsg":"Successful sale transaction doesn''t exists","merchantTxnId":"...","transactionId":null,"pgTxnId":"","authIdCode":"","amount":"","paymentId":null,"cvRespCode":null,"authReceiptNo":null,"captureReceiptNo":null,"refTxnNo":"","currency":"","merchantRefundTxId":null,"rrn":""}'
  recorded_at: Tue, 08 Aug 2017 18:10:45 GMT
recorded_with: VCR 3.0.3
