---
http_interactions:
- request:
    method: post
    uri: https://sandboxadmin.citruspay.com/api/v2/txn/refund
    body:
      encoding: UTF-8
      string: '{"merchantTxnId":"RD-0320837687","pgTxnId":"6789994221172191","rrn":"7219386355","authIdCode":"999999","currencyCode":"INR","amount":"12","txnType":"Refund","merchantTxnId":"..."}'
    headers:
      Content-Type:
      - application/json
      Signature:
      - '09aaf70d149d936697168f4114bae861ea01ed8a'
      Access-Key:
      - 1DYQI8S5EE5UM97AJYKA
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><response><noOfTxnsToDisplay>0</noOfTxnsToDisplay><respCode>401</respCode><respMsg>Bad
        Request:Invalid signature key</respMsg><totalTxnCount>0</totalTxnCount></response>
  recorded_at: Tue, 08 Aug 2017 05:08:08 GMT
recorded_with: VCR 3.0.3
