---
http_interactions:
- request:
    method: post
    uri: https://sandboxadmin.citruspay.com/api/v2/txn/refund
    body:
      encoding: UTF-8
      string: '{"merchantTxnId":"RD-2845351843","pgTxnId":"7468164562272201","rrn":"722051430779","authIdCode":"999999","currencyCode":"INR","amount":"6","txnType":"Refund"}'
    headers:
      Content-Type:
      - application/json
      Signature:
      - ce0aa9b4ce326b00c98d7ae4708cfeb0fbb601ff
      Access-Key:
      - 1DYQI8S5EE5UM97AJYKA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"respCode":"0","respMsg":"Transaction successful","merchantTxnId":"RD-2845351843","transactionId":"RD-2845351843","pgTxnId":"3033025022372201","authIdCode":"999999","amount":"6.0","paymentId":"-1","cvRespCode":null,"authReceiptNo":null,"captureReceiptNo":null,"refTxnNo":null,"currency":"INR","merchantRefundTxId":"CRX170808172856726197","rrn":"722051737937"}'
  recorded_at: Tue, 08 Aug 2017 17:32:15 GMT
recorded_with: VCR 3.0.3
