---
http_interactions:
- request:
    method: get
    uri: https://splitpaysbox.citruspay.com/marketplace/seller/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wNy0yM1QxMTo1NzoxMC43NDBaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.3lo5IdaU75fxpNQWxyvKley-J5snq31-CEhXfkM93MI
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"rUji4L3buMPYwV727Qv0Bw=="
    body:
      encoding: ASCII-8BIT
      string: '[{"seller_id":1979,"seller_name":"Abhi","seller_add1":"123","seller_add2":"","seller_city":"pune","seller_state":"MH","seller_country":"India","seller_zip":"41234","business_url":"undefined","selleremail":"test-1@test.com","seller_ifsc_code":"ICIC0002326","seller_acc_num":"5467876543","payoutmode":"NEFT","seller_account_id":3194,"seller_active":1,"seller_mobile":"9422173793","seller_mobile_verified":0,"sms_notify":0,"seller_email_verified":0,"email_notify":0,"kyc_status":0,"is_international":0,"currency":null},{"seller_id":1980,"seller_name":"Abhil","seller_add1":"123","seller_add2":"","seller_city":"pune","seller_state":"MH","seller_country":"India","seller_zip":"41234","business_url":"undefined","selleremail":"ddd@hhfdh.com","seller_ifsc_code":"ICIC0002326","seller_acc_num":"33377373","payoutmode":"NEFT","seller_account_id":3195,"seller_active":1,"seller_mobile":"9422173797","seller_mobile_verified":0,"sms_notify":0,"seller_email_verified":0,"email_notify":0,"kyc_status":0,"is_international":0[...]
