---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/trans/splitrefund/
    body:
      encoding: UTF-8
      string: '{"split_id":101070,"refund_ref":"RD-4292297693","pg_refund_charge":0,"refund_datetime":"2017-08-08
        2:33:00"}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - wrong_auth_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58-544ad0e5"
    body:
      encoding: ASCII-8BIT
      string: '{"error_id":"4","error_category":"application","error_description":"Invalid
        user Token"}'
  recorded_at: Wed, 09 Aug 2017 08:32:23 GMT
recorded_with: VCR 3.0.3
