---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/trans/splitrefund/
    body:
      encoding: UTF-8
      string: '{"split_id":101070,"refund_ref":"RD-4292297693","pg_refund_charge":0,"refund_datetime":"2017-08-08
        2:33:00","split_id":"..."}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wOC0xMlQwNToyNTowNS42NTFaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.jhghjtqWczvGhZAU1Z8zpNPiZZc5aIY7MyafkenZ-u8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8-b7f19925"
    body:
      encoding: ASCII-8BIT
      string: '[{"property":"instance.split_id","message":"is not of a type(s) number","schema":{"type":"number","required":true,"minimum":1},"instance":"...","stack":"instance.split_id
        is not of a type(s) number"}]'
  recorded_at: Wed, 09 Aug 2017 08:32:35 GMT
recorded_with: VCR 3.0.3
