---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/trans/splitrefund/
    body:
      encoding: UTF-8
      string: '{"split_id":101126,"refund_ref":"RD-4292297693","pg_refund_charge":0,"refund_datetime":"2017-08-08
        2:33:00"}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wOC0xMlQwNToyNTowNS42NTFaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.jhghjtqWczvGhZAU1Z8zpNPiZZc5aIY7MyafkenZ-u8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"49-bf8020c7"
    body:
      encoding: ASCII-8BIT
      string: '{"refund_id":31464,"trans_id":114443,"split_id":101126,"refund_amount":6}'
  recorded_at: Wed, 09 Aug 2017 08:35:57 GMT
recorded_with: VCR 3.0.3
