---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/auth/
    body:
      encoding: UTF-8
      string: '{"access_key":"hhhh","secret_key":"e4806e194aec00f17006feebadb771abaa754fe6"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"52-f6957236"
    body:
      encoding: ASCII-8BIT
      string: '{"error_id":"0","error_category":"application","error_description":"Invalid
        user"}'
  recorded_at: Sat, 15 Jul 2017 10:41:54 GMT
recorded_with: VCR 3.0.3
