---
http_interactions:
- request:
    method: get
    uri: https://splitpaysbox.citruspay.com/marketplace/search/pgsettlement/110696
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wNy0yOVQwNzo1MjozNC43NjBaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.5bH5RceSByzwUkbATZadnno7-zffE_Oq-L21OrZnAPA
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"e8-ede72ec0"
    body:
      encoding: ASCII-8BIT
      string: '{"settlement_id":38273,"trans_id":110696,"settlement_ref":"Ref#CITSPLIT-RD-5821744918","trans_source":"CITRUS","settlement_amount":11,"fee_amount":1,"settlement_date_time":"24/07/2017
        17:10:18","req_date_time":"24/07/2017 17:10:20"}'
  recorded_at: Mon, 24 Jul 2017 11:45:52 GMT
recorded_with: VCR 3.0.3
