---
http_interactions:
- request:
    method: put
    uri: https://splitpaysbox.citruspay.com/marketplace/split/
    body:
      encoding: UTF-8
      string: '{"split_id":33333,"seller_id":3260,"merchant_split_ref":"ref","split_amount":12,"fee_amount":4,"auto_payout":0}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wNy0yM1QxMTo1NzoxMC43NDBaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.3lo5IdaU75fxpNQWxyvKley-J5snq31-CEhXfkM93MI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5b-219e2f76"
    body:
      encoding: ASCII-8BIT
      string: '{"error_id":"330","error_category":"application","error_description":"Invalid
        Split Id!!!"}'
  recorded_at: Tue, 18 Jul 2017 22:28:30 GMT
recorded_with: VCR 3.0.3
