---
http_interactions:
- request:
    method: put
    uri: https://splitpaysbox.citruspay.com/marketplace/split/
    body:
      encoding: UTF-8
      string: '{"split_id":"invalid_split_idinvalid_split_idinvalid_split_idinvalid_split_id","seller_id":3260,"merchant_split_ref":"ref","split_amount":12,"fee_amount":4,"auto_payout":0}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wNy0yM1QxMTo1NzoxMC43NDBaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.3lo5IdaU75fxpNQWxyvKley-J5snq31-CEhXfkM93MI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"105-ca58ec2a"
    body:
      encoding: ASCII-8BIT
      string: '[{"property":"instance.split_id","message":"is not of a type(s) number","schema":{"type":"number","required":true,"minimum":1},"instance":"invalid_split_idinvalid_split_idinvalid_split_idinvalid_split_id","stack":"instance.split_id
        is not of a type(s) number"}]'
  recorded_at: Tue, 18 Jul 2017 22:30:34 GMT
recorded_with: VCR 3.0.3
