---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/split/
    body:
      encoding: UTF-8
      string: '{"trans_id":105573,"seller_id":3260,"merchant_split_ref":"ref","split_amount":12,"fee_amount":2,"auto_payout":0}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wNy0yM1QxMTo1NzoxMC43NDBaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.3lo5IdaU75fxpNQWxyvKley-J5snq31-CEhXfkM93MI
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3f-7728e85e"
    body:
      encoding: ASCII-8BIT
      string: '{"split_id":92437,"trans_id":105573,"merchant_split_ref":"ref"}'
  recorded_at: Tue, 18 Jul 2017 18:10:25 GMT
recorded_with: VCR 3.0.3
