---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/seller/
    body:
      encoding: UTF-8
      string: '{"seller_name":"Fake_Name","seller_add1":"Fake_Street","seller_city":"Fake_City","seller_state":"Fake_state","seller_country":"Fake_country","zip":"690001","seller_mobile":"1234567899","seller_ifsc_code":"ICIC0000010","seller_acc_num":"Fake_account_number","active":1,"payoutmode":"NEFT","selleremail":"fake1@gmail.com"}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - wrong_auth_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58-544ad0e5"
    body:
      encoding: ASCII-8BIT
      string: '{"error_id":"4","error_category":"application","error_description":"Invalid
        user Token"}'
  recorded_at: Sun, 16 Jul 2017 09:46:26 GMT
recorded_with: VCR 3.0.3
