---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/seller/
    body:
      encoding: UTF-8
      string: '{"seller_name":"Fake_Name","seller_add1":"Fake_Street","seller_city":"Fake_City","seller_state":"Fake_state","seller_country":"Fake_country","zip":"Fake_postcode","seller_mobile":"1234567899","seller_ifsc_code":"ICIC0000010","seller_acc_num":"Fake_account_number","active":1,"payoutmode":"NEFT","selleremail":"fake1@gmail.com","zip":"fake_zippppp"}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wNy0yMVQwNzowNToxNC42MjJaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.L1BVi_0fx7utnes7FPq4mw_coHGL1QPfSOyqTn93TFE
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"11-c92acc44"
    body:
      encoding: ASCII-8BIT
      string: '{"sellerid":3260}'
  recorded_at: Sun, 16 Jul 2017 08:57:53 GMT
recorded_with: VCR 3.0.3
