---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/funds/release/
    body:
      encoding: UTF-8
      string: '{"split_id":"..."}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - wrong_auth_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58-544ad0e5"
    body:
      encoding: ASCII-8BIT
      string: '{"error_id":"4","error_category":"application","error_description":"Invalid
        user Token"}'
  recorded_at: Mon, 24 Jul 2017 18:00:14 GMT
recorded_with: VCR 3.0.3
