---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/funds/release/
    body:
      encoding: UTF-8
      string: '{"split_id":"..."}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wNy0yOVQwNzo1MjozNC43NjBaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.5bH5RceSByzwUkbATZadnno7-zffE_Oq-L21OrZnAPA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c8-b7f19925"
    body:
      encoding: ASCII-8BIT
      string: '[{"property":"instance.split_id","message":"is not of a type(s) number","schema":{"type":"number","required":true,"minimum":1},"instance":"...","stack":"instance.split_id
        is not of a type(s) number"}]'
  recorded_at: Mon, 24 Jul 2017 17:59:42 GMT
recorded_with: VCR 3.0.3
