---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/funds/release/
    body:
      encoding: UTF-8
      string: '{"split_id":97434}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wNy0yOVQwNzo1MjozNC43NjBaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.5bH5RceSByzwUkbATZadnno7-zffE_Oq-L21OrZnAPA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7d-1dccb436"
    body:
      encoding: ASCII-8BIT
      string: '{"releasefund_ref":37267,"trans_id":110696,"split_id":97434,"seller_id":2153,"amount":11,"payoutmode":"NEFT","payout":"true"}'
  recorded_at: Mon, 24 Jul 2017 17:59:40 GMT
recorded_with: VCR 3.0.3
