---
http_interactions:
- request:
    method: get
    uri: https://splitpaysbox.citruspay.com/marketplace/split/92437
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wNy0yM1QxMTo1NzoxMC43NDBaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.3lo5IdaU75fxpNQWxyvKley-J5snq31-CEhXfkM93MI
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ca-8558387d"
    body:
      encoding: ASCII-8BIT
      string: '{"split_id":92437,"trans_id":105573,"seller_id":3260,"merchant_split_ref":"ref","split_amount":11,"fee_amount":1,"auto_payout":0,"req_datetime":"2017-07-18T18:10:25.000Z","fundReleased":[],"refunds":[]}'
  recorded_at: Wed, 19 Jul 2017 06:54:27 GMT
recorded_with: VCR 3.0.3
