---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/pgsettlement/
    body:
      encoding: UTF-8
      string: '{"trans_id":105573,"settlement_ref":"Ref#CITFAKE","trans_source":"CITRUS","settlement_amount":"invalid_settlement_numberinvalid_settlement_numberinvalid_settlement_numberinvalid_settlement_number","fee_amount":2,"settlement_date_time":"2017-07-24
        13:14:00"}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wNy0yOVQwNzo1MjozNC43NjBaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.5bH5RceSByzwUkbATZadnno7-zffE_Oq-L21OrZnAPA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"13b-2e6351c9"
    body:
      encoding: ASCII-8BIT
      string: '[{"property":"instance.settlement_amount","message":"is not of a type(s)
        number","schema":{"type":"number","required":true,"minimum":1},"instance":"invalid_settlement_numberinvalid_settlement_numberinvalid_settlement_numberinvalid_settlement_number","stack":"instance.settlement_amount
        is not of a type(s) number"}]'
  recorded_at: Mon, 24 Jul 2017 08:05:39 GMT
recorded_with: VCR 3.0.3
