---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/pgsettlement/
    body:
      encoding: UTF-8
      string: '{"trans_id":105573,"settlement_ref":"Ref#CITFAKE","trans_source":"CITRUS","settlement_amount":10,"fee_amount":2,"settlement_date_time":"2017-07-24
        13:14:00"}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhY2Nlc3Nfa2V5IjoiMURZUUk4UzVFRTVVTTk3QUpZS0EiLCJleHBpcmVzIjoiMjAxNy0wNy0yOVQwNzo1MjozNC43NjBaIiwiY2FuX3RyYW5zYWN0IjoxLCJhZG1pbiI6MH0.5bH5RceSByzwUkbATZadnno7-zffE_Oq-L21OrZnAPA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"29-d206ae60"
    body:
      encoding: ASCII-8BIT
      string: '{"settlement_id":38268,"trans_id":105573}'
  recorded_at: Mon, 24 Jul 2017 07:56:02 GMT
recorded_with: VCR 3.0.3
