---
http_interactions:
- request:
    method: post
    uri: https://splitpaysbox.citruspay.com/marketplace/trans/transrefund/
    body:
      encoding: UTF-8
      string: '{"trans_id":114413,"refund_amount":6,"refund_ref":"RD-6191651979_Refund","pg_refund_charge":0,"refund_datetime":"2017-08-09
        12:00:28"}'
    headers:
      Content-Type:
      - application/json
      Auth-Token:
      - wrong_auth_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"58-544ad0e5"
    body:
      encoding: ASCII-8BIT
      string: '{"error_id":"4","error_category":"application","error_description":"Invalid
        user Token"}'
  recorded_at: Wed, 09 Aug 2017 06:15:57 GMT
recorded_with: VCR 3.0.3
